<div class="edit-hero">
  <div class="edit-profile">
    <mat-card>
      <mat-card-subtitle>
        <div class="titulo">
          EDITAR información de <strong>{{ hero?.name }}</strong> Nº de
          identificación {{ hero?.id }}
        </div>
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <div class="profile-info">
        <form [formGroup]="heroFormGroup">
          <div class="profile-name">
            <mat-label>Nombre</mat-label>
            <br />
            <mat-form-field>
              <input
                matInput
                placeholder="{{ hero?.name | uppercase }}"
                formControlName="name"
                appMayus
              />
              <mat-error *ngIf="heroFormGroup.get('name')?.hasError('pattern')"
                >Nobre no valido</mat-error
              >
              <mat-error *ngIf="heroFormGroup.get('name')?.hasError('required')"
                >El nombre es requerido</mat-error
              >
            </mat-form-field>
          </div>
          <div class="confirm-profile">
            <button
              mat-fab
              color="primary"
              aria-label="Editar datos del Heroe"
              (click)="updateHero()"
              type="button"
              [disabled]="heroFormGroup.invalid"
            >
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
